{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

<h3>Enter A Value</h3>
{{ result }}
{{ form_errors(form) }}

<ul class="list-unstyled participants-form participants o-h mb-3" data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for participant in form.participants %}
            <li class="item">
                {{ form_row(participant.inputNumber) }}
                {% if participant.result is not null %}
                    {{ form_row(participant.result) }}
                {% endif %}
            </li>
        {% endfor %}
</ul>

{% if form.participants|length == 10 %}
    <h3>Task is completed</h3>
{% endif %}

<hr />

<div class="clearfix">
    <button class="btn btn-success float-right" type="submit">Submit</button>
</div>

{{ form_end(form) }}